services:
  api:
    build:
      context: .
      target: builder
    environment:
      PORT: 8000
    ports:
      - '8000:8000'
    restart: "no"
  db:
    image: postgres:13.2-alpine
    restart: always
    shm_size: 128mb
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'